<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Matcha | <%= title %></title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<style>

body{
    background: #fff7ff;
}

.form{
    display: inline-block;
    background: #fff0ff;
    padding: 4vw 5vw;
    margin: 0 10vw;
    border-radius: 1vw;
}

.form2{
    display: inline-block;
    background: #fff0ff;
    padding: 4vw 5vw;
    margin: 0 10vw;
    border-radius: 1vw;
}

.form3{
    display: inline-block;
    background: #fff0ff;
    padding: 4vw 5vw;
    margin: 10vw 35vw;
    border-radius: 1vw;
}

.inputs{
    display: block;
    height: 3vw;
    width: 28vw;
    margin: 1vw auto;
    font-size: 1.5vw;
    border: solid 0.1vw;
    border-radius: 0.3vw;
}

.inputs2{
    display: block;
    height: 3vw;
    width: 28vw;
    margin: 0 20vw;
    font-size: 1.5vw;
    border: solid 0.1vw;
    border-radius: 0.3vw;
}

.tarea{
    display: block;
    height: 5vw;
    width: 28vw;
    margin: 0.5vw 20vw;
    font-size: 1.5vw;
    border: solid 0.1vw;
    border-radius: 0.3vw;
}

.labels{
    display: block;
    margin: 0.5vw auto;
    font-size: 2vw;
}

.submit{
    display: block;
    height: 3vw;
    width: 28vw;
    margin: 1vw 20vw;
    font-size: 2vw;
    background: #ffbfff;
    font-weight: bold;
    color: #ffffff;
    border: solid 0.1vw #111111;
    border-radius: 0.3vw;
}

.tags{
    display: block;
    width: 28vw;
    margin: 0 20vw;
    font-size: 1.5vw;
}

.smol{
    display: block;
    height: 3vw;
    width: 3vw;
    margin: 0 5vw;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
    border: solid 0.1vw;
    border-radius: 0.3vw;
}


.imgs{
    height: 15vw;
    width: 15vw;
    display: inline-block;
    margin: 0.5vw;
}

.dp{
    height: 15vw;
    width: 15vw;
    display: inline-block;
    margin: 0.5vw;
}

</style>
