<a href="logout" style="float: right; margin: 2vw;">Logout</a>
<a href="search" style="float: right; margin: 2vw;">Search</a>
<a href="match" style="float: right; margin: 2vw;">Match</a>
<a href="profile" style="float: right; margin: 2vw;">Profile</a>
