<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="form3">
	    <h2>No User Found</h2>
    </div>
</body>
    <%- include('./partials/footer.ejs') %>
</html>