<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Error 405</h1>
    <h2>No User Found</h2>
</body>
    <%- include('./partials/footer.ejs') %>
</html>