<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <div class ="card-text">
                    <h1 class="card title text-center">LOGIN</h1>
                    <form action="/login" method="POST">
                        <%- include('./partials/ErrorMsg') %>
                        <div class="form-group">
                            <input pattern="[A-Za-z0-9_-]{6,30}"  title="Username should be between 6 And 30 And have only characters and _ - symbols" class="form-control form-control-sm" type="username" id="username" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <a href="Pass_reset" style="float :right; font-size: 12px;">Forgot Password?</a>
                            <input class="form-control form-control-sm" type="password" id="password" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        <div class="signup">
                            Don't have an account? <a href="register">Create One</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
    <%- include('./partials/footer.ejs') %>
</html>