<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <div class="global-container">
        <div class="card login-form">
            <div class="card-body">
                <div class ="card-text">
                    <h1 class="card title text-center">UPDATE PASS</h1>
                    <%- include('./partials/ErrorMsg') %>
                    <form action="/update_pass" method="POST">
                        <div class="form-group">
                            <input class="form-control form-control-sm" type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm" type="password" name="password2" placeholder="Repeat Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</body>
    <%- include('./partials/footer.ejs') %>
</html>